<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lessons</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
</head>
<body>
    <%- include('partials/header') %>

    <section class = "lessons">
    <% for(let lesson of allLessons) { %>
        <div class = "lesson">
            <button id="popoverBtn<%= lesson.id %>">Lesson <%= lesson.id %></button>
            <div class="popover" id="myPopover<%= lesson.id %>">
                <%= lesson.description %>
                <a href="/lesson/<%= lesson.id %>">Старт</a>
            </div>
        </div>
    <% } %>
    </section>
    
    <script src="/js/togglePopover.js"></script>
</body>
</html>