<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lessons</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
</head>
<body>
    <%- include('partials/header') %>

    <main>
        <section class = "sections">
            <% for(let section of sections) { %>
                <div class = "section">
                    <p>Раздел <%= section.id %></p>
                    <a href="/section/<%= section.id %>/lessons %>">Начало</a>
                </div>
            <% } %>
        </section>

        <section class = "lessons">
        <% for(let lesson of allLessons) { %>
            <div class = "lesson">
                <button id="popoverBtn<%= lesson.id %>">Lesson <%= lesson.id %></button>
                <div class="popover" id="myPopover<%= lesson.id %>">
                    <%= lesson.description %>
                    <a href="/lesson/<%= lesson.id %>">Старт</a>
                </div>
            </div>
        <% } %>
        </section>
    </main>

    <script src="/js/togglePopover.js"></script>
</body>
</html>