<h2>Упражнения</h2>
<% for (let exercise of lessonDetails.exercises) { %>
    <div class="parent">
        <p>
            <button>Упражнение</button>
        </p>

        <div class="showHideDiv hidden">
            <form action="">
                <div class="formInput">
                    <label for="task">Задание</label>
                    <input type="text" name="task" id="task" value="<%= exercise.task %>">
                </div>

                <div class="options">
                    <% let optionNumber=1; %>
                        <% for (let option of exercise.options) { %>
                            <div class="formInput option">
                                <label for="option<%= optionNumber %>">Вариант <%= optionNumber %></label>
                                <input type="text" name="option" id="option<%= optionNumber %>" value="<%= option %>">
                            </div>
                            <% optionNumber++; } %>

                                <div class="formInput addOption">
                                    <button type="button" id="addOptionButton" class="add">+</button>
                                </div>
                </div>

                <div class="formInput">
                    <label for="correctAnswer">Правилен отговор</label>
                    <input type="text" name="correctAnswer" id="correctAnswer" value="<%= exercise.correct_answer %>">
                </div>

                <div class="formInput alignCenter">
                    <button class="update">Редактиране</button>
                </div>
            </form>
        </div>
    </div>
    <% } %>