<header>
    <div class="left">
        <ul>
            <li><a href="/<%= language %>/free/lessons">Уроци</a></li>
            <li><a href="/flashcards">Флашкарти</a></li>
            <li><a href="/shop">Магазин</a></li>
        </ul>
    </div>
    <div class="right">
        <ul>
            <li>
                <i class="fa-solid fa-coins"></i>
                <%= userData.userCurrency %>
            </li>
            <li>
                <div class="selectCourseDropdown">
                    <button class="dropbtn">
                        <% for(const course of userData.coursesTaken) { %>
                            <% if (course.language === language) { %>
                                <img class="headerFlag" src="<%= course.flag %>" alt="">
                            <% }
                        } %>
                    </button>
                    
                    <div class="userCourses">
                        <% for (const course of userData.coursesTaken) { %>
                            <% let isSelected = (course.language === language) ? "selected" : ""; %>
                        
                            <form action="/<%= course.language %>/free/lessons">
                                <button class="course <%= isSelected %>">
                                    <img src="<%= course.flag %>" alt="flag">
                                    <%= course.language %>
                                </button>
                            </form>
                        <% } %>

                        <a href="/courses/add">
                            <div class="addLanguage">Добави курс</div>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="profileDropdown">
                    <button class="dropbtn"><i class="fa-solid fa-user"></i></button>

                    <div class="profileLinks">
                        <a href="">Профил</a>
                        <%- include('../partials/logoutForm') %>
                    </div>
                </div>
            </li>
            
            
        </ul>
    </div>
</header>

<script src="/js/addCourseToLocalStorage.js"></script>