<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Админски панел</title>
    <link rel="stylesheet" type="text/css" href="/css/admin-styles.css" />
    <link rel="stylesheet" type="text/css" href="/css/common-styles.css" />
    <script src="https://kit.fontawesome.com/13ecc83974.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="page-content">
        <%- include('../partials/adminHeader') %>

        <div class="content">
            <%- include('../partials/flashMessages') %>

            <h2>Раздели</h2>
            
            <% for (let course of adminPageDetails.courses) { %>
                <div class="parent">
                    <button class="course">
                        <%= course.cyrillicName %>
                        <span class="chevron"><i class="fa-solid fa-chevron-right"></i></span>
                    </button>
        
                    <div class="hidden">
                        <h4>Безплатни раздели</h4>
                        <% for (let section of adminPageDetails.sections) { %>
                            <% if (section.courses_id === course.id) { %>
                                <p>
                                    <a href="admin/show/<%= section.language %>/section/<%= section.sequence %>/lessons">Раздел <%= section.sequence %> - <%= section.description %></a>
                                </p>
                            <% } %>
                        <% } %>

                        <h4>Платени раздели</h4>
                        <% for (let premiumSection of adminPageDetails.premiumSections) { %>
                            <% if (premiumSection.courses_id === course.id) { %>
                                <p>
                                    <a href="/admin/show/<%= premiumSection.language %>/<%= premiumSection.type %>/lessons"><%= premiumSection.section_type_bulgarian %></a>
                                </p>
                            <% } %>
                        <% } %>

                        <p>
                            <a class="add" href="admin/add/<%= course.id %>/section">Добавяне на раздел</a>
                        </p>

                        <form action="">
                            <p>
                                <button class="remove">Изтриване на раздел</button>
                            </p>
                        </form>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
    <script src="/js/adminPanelFunctions.js"></script>
</body>

</html>