<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Админски панел</title>
    <link rel="stylesheet" type="text/css" href="/css/admin-styles.css" />
    <link rel="stylesheet" type="text/css" href="/css/common-styles.css" />
</head>

<body>
    <div class="adminPanel">
        <%- include('../partials/logoutForm') %>

        <%- include('../partials/flashMessages') %>
        
        <h2>Добавяне на нов потребител</h2>
        <a href="/admin/create/account">Добавяне на администраторски профил</a>

        <h2>Добавяне на курс</h2>
        <a href="/admin/add/course">Добавяне на курс</a>

        <h2>Преглед на раздели</h2>

        <% for (let course of adminPageDetails.courses) { %>
            <div class="parent">
                <button><%= course.language %></button>
    
                <div class="hidden">
                    <% for (let section of adminPageDetails.sections) { %>
                        <% if (section.courses_id === course.id) { %>
                        <p>
                            
                            <a href="admin/show/<%= section.language %>/section/<%= section.sequence %>/lessons">Раздел <%= section.sequence %> - <%= section.description %></a>
                        </p>
                        <% } %>
                    <% } %>
                    <p>
                        <a class="add" href="admin/add/<%= course.id %>/section">Добавяне на раздел</a>
                    </p>
                </div>
            </div>
        </div>
        <% } %>

    <script src="/js/adminPanelFunctions.js"></script>
</body>

</html>