<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Детайли на урок</title>
    <link rel="stylesheet" type="text/css" href="/css/admin-styles.css" />
    <link rel="stylesheet" type="text/css" href="/css/common-styles.css" />
</head>

<body>
    <p>
        <a href="/admin">admin</a> > <u>showLessonDetails</u>
    </p>

    <%- include('../partials/flashMessages') %>

    <% for (let exercise of lessonDetails.exercises) { %>
        <p><%= exercise.task %></p>
    <% } %>
    <p>
        <a class="add" href="/admin/add/<%= lessonDetails.language %>/<%= lessonDetails.type %>/sectionId/<%= lessonDetails.sectionId %>/lesson/<%= lessonDetails.lessonSequence %>/exercise">Добавяне на упражнение</a>
    </p>

    <script src="/js/adminPanelFunctions.js"></script>
    <script src="/js/addOption.js"></script>
</body>

</html>