<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Детайли на урок</title>
    <link rel="stylesheet" type="text/css" href="/css/admin-styles.css" />
    <link rel="stylesheet" type="text/css" href="/css/common-styles.css" />
    <script src="https://kit.fontawesome.com/13ecc83974.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="page-content">
        <%- include('../partials/adminHeader') %>

        <div class="content">
            <%- include('../partials/flashMessages') %>

            <form action="/admin/<%= lessonDetails.language %>/sectionId/<%= lessonDetails.sectionId %>/remove/<%= lessonDetails.type %>/<%= lessonDetails.lessonSequence %>?_method=DELETE" method="POST">
                <button class="remove">Изтриване на урок</button>
            </form>

            <% let counter = 1 %>

            <% for (const exercise of lessonDetails.exercise) { %>
                <div class="parent">
                    <p>
                        <button class="exercise">
                            Упражнение <%= counter %>
                            <span class="chevron"><i class="fa-solid fa-chevron-right"></i></span>
                        </button>
                    </p>

                    <% counter++ %>

                    <div class="showHideDiv hidden">
                        <div class="formInput">
                            <form 
                                action="/admin/<%= lessonDetails.language %>/<%= lessonDetails.type %>/sectionId/<%= lessonDetails.sectionId %>/lesson/<%= lessonDetails.lessonSequence %>/exercise/<%= exercise.storymodeExercise.id %>?_method=PATCH"
                                method="POST">

                                    <input type="text" name="task" value="<%= exercise.storymodeExercise.task %>">
                                    <button class="update">Редактиране</button>
                            </form>
                        </div>

                        <% for (const exerciseImage of exercise.storymodeImages) { %>
                            <div class="formInput storymode-image">
                                <p>Последователност: <%= exerciseImage.sequence %></p>
                                <img src="/img/storymode/<%= exerciseImage.url %>" alt="Img">

                                <form 
                                    action="/admin/delete/<%= lessonDetails.language %>/<%= lessonDetails.type %>/sectionId/<%= lessonDetails.sectionId %>/lesson/<%= lessonDetails.lessonSequence %>/storymode-image/<%= exerciseImage.id %>?_method=DELETE"
                                    method="POST">

                                        <button class="remove">Изтриване</button>
                                </form>
                            </div>
                        <% } %>

                        <br>
                        <form 
                            action="/admin/add/<%= lessonDetails.language %>/<%= lessonDetails.type %>/sectionId/<%= lessonDetails.sectionId %>/lesson/<%= lessonDetails.lessonSequence %>/exercise/<%= exercise.storymodeExercise.id %>/storymode-image"
                            method="POST"
                            enctype="multipart/form-data">

                                <h3>Добавяне на снимка</h3>
                                <input class="border-none" type="file" name="imgUrl" accept="image/*">
                                <br>
                                <button class="add">Добавяне</button>
                        </form>

                        <br>

                        <form 
                            action="/admin/<%= lessonDetails.language %>/<%= lessonDetails.type %>/sectionId/<%= lessonDetails.sectionId %>/lesson/<%= lessonDetails.lessonSequence %>/exercise/<%= exercise.storymodeExercise.id %>?_method=DELETE"
                            method="POST">
                            
                                <h3>Изтриване на упражнение</h3>
                                <button class="remove">Изтриване</button>
                        </form>
                    </div>
                </div>
            <% } %>

            <br>
            <p>
                <a class="add" href="/admin/add/<%= lessonDetails.language %>/<%= lessonDetails.type %>/sectionId/<%= lessonDetails.sectionId %>/lesson/<%= lessonDetails.lessonSequence %>/exercise">Добавяне на упражнение</a>
            </p>
        </div>
    </div>

    <script src="/js/adminPanelFunctions.js"></script>
</body>

</html>