<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Платени уроци</title>
    <link rel="stylesheet" type="text/css" href="/css/admin-styles.css" />
    <link rel="stylesheet" type="text/css" href="/css/common-styles.css" />
</head>
<body>
    <div class="page-content">
        <%- include('../partials/adminHeader') %>

        <div class="content">
            <%- include('../partials/flashMessages') %>

            <form class="admin-form" action="#?_method=PATCH" method="POST">
                <h3>Редактиране на описанието на раздела</h3>
                <input type="text" name="description" value="<%= sectionDetails.description %>">
                <button class="update">Редактиране</button>
            </form>

            <h3>Уроци</h3>

            <% for (let lesson of sectionDetails.lessons) { %>
                <p>
                    <a href="/admin/show/<%= sectionDetails.language %>/<%= sectionDetails.type %>/sectionId/<%= sectionDetails.id %>/lesson/<%= lesson.sequence %>">
                        Урок <%= lesson.sequence %>
                        <span>Преглед</span>
                    </a>
                </p>
            <% } %>
            
            <form id="addLessonForm" action="/admin/add/course/<%= sectionDetails.language %>/<%= sectionDetails.type %>/lesson" method="POST">
                <button class="add">Добавяне на урок</button>
            </form>
        </div>
    </div>
</body>
</html>