<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Детайли на урок</title>
    <link rel="stylesheet" type="text/css" href="/css/admin-styles.css" />
    <link rel="stylesheet" type="text/css" href="/css/common-styles.css" />
    <script src="https://kit.fontawesome.com/13ecc83974.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="page-content">
        <%- include('../partials/adminHeader') %>

        <div class="content">
            <%- include('../partials/flashMessages') %>

            <form action="/admin/show/<%= lessonDetails.language %>/sectionId/<%= lessonDetails.sectionId %>/lesson/<%= lessonDetails.lessonSequence %>?_method=PATCH" method="POST">
                <h3>Редактиране на урок</h3>
                <input type="text" value="<%= lessonDetails.lessonPreview %>" name="lessonPreview">
                <button class="update">Редактиране</button>
            </form>

            <form action="/admin/<%= lessonDetails.language %>/sectionId/<%= lessonDetails.sectionId %>/remove/lesson/<%= lessonDetails.lessonSequence %>?_method=DELETE" method="POST">
                <button class="remove">Изтриване на урок</button>
            </form>

            <% let counter = 1 %>

            <h3>Упражнения</h3>
            <% for (let exercise of lessonDetails.exercises) { %>
                <div class="parent">
                    <p>
                        <button class="exercise">
                            Упражнение <%= counter %>
                            <span class="chevron"><i class="fa-solid fa-chevron-right"></i></span>
                        </button>
                    </p>

                    <% counter++ %>

                    <div class="showHideDiv hidden">
                        <form action="/admin/<%= lessonDetails.language %>/sectionId/<%= lessonDetails.sectionId %>/lesson/<%= lessonDetails.lessonSequence %>/exercise/<%= exercise.id %>?_method=PATCH" method="POST">
                            <div class="formInput">
                                <label for="task">Задание</label>
                                <input type="text" name="task" id="task" value="<%= exercise.task %>">
                            </div>

                            <div class="formInput">
                                <label for="task-type">Тип на задание</label>
                                <select name="taskTypes" id="task-type">
                                    <% for (const taskType of lessonDetails.freeLessonTaskTypes) { %>
                                        <% let isSelected = (taskType.type === exercise.task_type) ? "selected" : ""; %>
                                        <option <%= isSelected %> value="<%= taskType.id %>"><%= taskType.task_type_bulgarian %></option>
                                    <% } %>
                                </select>
                            </div>

                            <div class="formInput">
                                <label for="option-type">Тип на отговор</label>
                                <select name="optionTypes" id="option-type">
                                    <% for (const optionType of lessonDetails.freeLessonOptionTypes) { %>
                                        <% let isSelected = (optionType.type === exercise.option_type) ? "selected" : ""; %>
                                        <option <%= isSelected %> value="<%= optionType.id %>"><%= optionType.option_type_bulgarian %></option>
                                    <% } %>
                                </select>
                            </div>

                            <div class="options">
                                <% let optionNumber=1; %>

                                <% for (let option of exercise.options) { %>
                                    <div class="formInput option">
                                        <label for="option<%= optionNumber %>">Вариант <%= optionNumber %></label>
                                        <input type="text" name="options" id="option<%= optionNumber %>" value="<%= option %>">
                                    </div>

                                <% optionNumber++; } %>

                                <div class="formInput addOption">
                                    <button type="button" id="addOptionButton" class="add">+</button>
                                </div>
                            </div>

                            <div class="formInput">
                                <label for="correctAnswer">Правилен отговор</label>
                                <input type="text" name="correctAnswer" id="correctAnswer" value="<%= exercise.correct_answer %>">
                            </div>

                            <div class="formInput">
                                <button class="update">Редактиране</button>
                            </div>
                        </form>

                        <form action="/admin/<%= lessonDetails.language %>/sectionId/<%= lessonDetails.sectionId %>/lesson/<%= lessonDetails.lessonSequence %>/exercise/<%= exercise.id %>?_method=DELETE" method="POST">
                            <button class="remove">Изтриване</button>
                        </form>
                    </div>
                </div>
            <% } %>

            <p>
                <a class="add" href="/admin/add/<%= lessonDetails.language %>/sectionId/<%= lessonDetails.sectionId %>/lesson/<%= lessonDetails.lessonSequence %>/exercise">Добавяне на упражнение</a>
            </p>
        </div>
    </div>

    <script src="/js/adminPanelFunctions.js"></script>
    <script src="/js/addOption.js"></script>
</body>

</html>