<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lessons</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <script src="https://kit.fontawesome.com/13ecc83974.js" crossorigin="anonymous"></script>
</head>
<body>
    <%- include('../partials/header') %>
    <%= userType %>
    <%- include('../partials/logoutForm') %>

    <main>
        <section class = "sections">
            <% for(let section of sections) { %>
                <div class = "section">
                    <p>Раздел <%= section.sequence %></p>
                    <p class="description"><%= section.description %></p>
                    <a href="/section/<%= section.sequence %>/<%= language %>/lessons %>">Начало</a>
                </div>
            <% } %>
        </section>
        
        <section class = "lessons">
        <% for(let lesson of lessons) { %>
            <div class = "lesson">
                <i class="fa-solid fa-star completed" id="popoverBtn<%= lesson.sequence %>">
                    
                </i>
                <div class="popover" id="myPopover<%= lesson.id %>">
                    <p><%= lesson.preview %></p>
                    <br>
                    <a class="startLesson" href="/exercises/<%= language %>/section/<%= sectionSequence %>/lesson/<%= lesson.sequence %>">Старт</a>
                </div>
            </div>
        <% } %>
        </section>
    </main>

    <script src="/js/togglePopover.js"></script>
    
</body>
</html>