<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Магазин</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="/css/common-styles.css" />
    <script src="https://kit.fontawesome.com/13ecc83974.js" crossorigin="anonymous"></script>
</head>
<body>
    <%- include('../partials/header') %>

    <div class="shop">
        <%- include('../partials/flashMessages') %>
        
        <h1>Магазин</h1>

        <p>Абонаменти</p>
        <div class="membershipItems">
            <% for(const membership of shopItems.memberships) { %>
                <div class="shopItem">
                    <span class="shopItemIcon"><i class="fa-solid fa-ticket"></i></span>
                    <p><%= membership.quantity %> дена</p>
                    <% if(membership.payment_type == "app_currency") { %>
                        <button class="shopItemButton btn" data-id="<%= membership.id %>">
                            <%= membership.cost %> <i class="fa-solid fa-coins"></i>
                        </button>
                    <% } else if (membership.payment_type == "money") { %>
                        <a class="shopItemButton" href="/shop/item/<%= membership.id %>/payment"><%= membership.cost %> лв.</a>
                    <% } %>
                </div>
            <% } %>
        </div>

        <p>Монети</p>
        <div class="coinsItems">
            <% for(const coins of shopItems.coins) { %>
                <div class="shopItem">
                    <span class="shopItemIcon"><i class="fa-solid fa-coins"></i></span>
                    <p><%= coins.quantity %> монети</p>
                    <a class="shopItemButton" href="/shop/item/<%= coins.id %>/payment"><%= coins.cost %> лв.</a>
                </div>
            <% } %>
        </div>
    </div>

    <script src="/js/purchaseItemWithCoins.js"></script>
</body>
</html>