<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Магазин</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="/css/common-styles.css" />
    <script src="https://kit.fontawesome.com/13ecc83974.js" crossorigin="anonymous"></script>
</head>
<body>
    <%- include('../partials/header') %>

    <div class="shop">
        <h1>Магазин</h1>

        <p>Абонаменти</p>
        <div class="membershipItems">
            <% for(const membership of shopItems.memberships) { %>
                <div class="shopItem">
                    <span class="shopItemIcon"><i class="fa-solid fa-ticket"></i></span>
                    <p><%= membership.quantity %> дена</p>
                    <button class="shopItemButton"
                        data-id="<%= membership.id %>" 
                        data-payment-type="<%= membership.payment_type %>">

                        <%= membership.cost %> <i class="fa-solid fa-coins"></i>
                    </button>
                </div>
            <% } %>
        </div>

        <p>Монети</p>
        <div class="coinsItems">
            <% for(const coins of shopItems.coins) { %>
                <div class="shopItem">
                    <span class="shopItemIcon"><i class="fa-solid fa-coins"></i></span>
                    <p><%= coins.quantity %> монети</p>
                    <a class="shopItemButton" href="/shop/item/<%= coins.id %>/payment"><%= coins.cost %> лв.</a>
                </div>
            <% } %>
        </div>
    </div>
</body>
</html>