<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Купуване</title>
    <script src="https://kit.fontawesome.com/13ecc83974.js" crossorigin="anonymous"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="/css/common-styles.css" />
</head>
<body>
    <%- include('../partials/header') %>

    <% if (shopItem) { %>
        <div class="payment">
            <div class="product-information">
                <p><a href="/shop">Назад</a></p>
                <p class="capitalize"><%= shopItem.item_type_bulgarian %> <%= shopItem.quantity %></p>
                <h2><%= shopItem.cost %> лв.</h2>
            </div>
            <form id="payment-form">
                <img class="stripe-logo" src="/img/logos/pngwing.com.png" alt="Stripe Logo">
                <label for="card-holder-name">Име на картодържателя</label>
                <input id="card-holder-name" type="text" placeholder="Пълно име">
                <br>
                <span>Информация за картата</span>
                <div id="card-number-element"></div>
                <div id="card-expiry-element"></div>
                <div id="card-cvc-element"></div>
                <br>
                <button id="submit">Плащане</button>
                <div id="error-message" role="alert"></div>
            </form>
        </div>

        <script src="/js/purchaseShopItem.js" item="<%= shopItem.id %>"></script>
    <% } %>
</body>
</html>
